@media print {
  @page {
    size: A4 portrait !important;
    background-color: #ffffff !important;
    padding: 0 !important;
    margin: 0.1in 0 !important;
  }
  hr {
    margin: 0 !important;
  }
  html {
    -webkit-print-color-adjust: exact;
  }
  body {
    background-size: 21cm 29.7cm !important;
    background-color: #ffffff !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  h2 {
  }
}
