@media print {
  @page {
    size: A4 portrait;
    background-color: #ffffff !important;
    padding: 30px 0;
    margin: 0.1in 0;
    margin-top: 30px;
  }
  @page:first {
    margin-top: 0 !important;
  }
  hr {
    margin: 0;
  }
  html {
    -webkit-print-color-adjust: exact;
  }
  body {
    background-size: 21cm 29.7cm;
    background-color: #ffffff !important;
    padding: 0;
    margin: 0;
  }
}

.react-pdf__Page__textContent span {
  direction: rtl;
}

ul {
  &.kendo-ui-list {
    list-style-type: none;
    li {
      display: flex;
      &::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 10px 15px 0 0;
      }
    }
    &.inline {
      display: flex;
      align-items: center;
      li {
        align-items: center;
        &::before {
          display: none;
        }
        &::after {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin: 0 10px;
          background-color: #606165;
        }
        &:last-of-type {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.k-pdf-export {
  .kendo-ui-list {
    li {
      &::before {
        margin: 12px 8px 0 0;
      }
    }
    &.inline {
      display: flex;
      li {
        display: flex;
        align-items: center;
        &::after {
          margin-top: 3px;
          margin-left: 5px;
        }
      }
    }
  }
}
